<div class="login-container">
  <mat-card>
    <mat-card-title>Redefinição de Senha</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form">
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input
            matInput
            placeholder="exemplo@vetsystech.com"
            formControlName="email"
            type="text"
          />
        </mat-form-field>
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <button mat-button (click)="onSubmit()" [disabled]="!form.valid">
          Redefinir senha
        </button>
      </form>

      <div class="link">
        <a (click)="onCancel()">Voltar</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
