.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to bottom, #FFEFC6, #FFD980 );

}

mat-card {
  margin-bottom: 200px;
  max-width: 400px;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

mat-card-title {
  font-size: 25px;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #494646 ;
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
  border-radius: 5px;
  background: linear-gradient(to bottom right, #FFF5CB, #FFE599);
  color: #494646 !important;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.link {
  margin-left: 2px;
  margin-top: 15px;
}

a {
  color: #494646;
}

a:hover {
  cursor: pointer;
}

/* Estilos para telas menores que 600px */
@media (max-width: 600px) {
  .login-container {
    padding: 1rem;
  }

  mat-card {
    margin-bottom: 100px;
    max-width: 90%;
    padding: 1rem;
  }

  mat-card-title {
    font-size: 1.2rem;
  }

  button {
    margin-top: 1rem;
  }
}
