.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to bottom, #FFEFC6, #FFD980 );

}

mat-card {
  margin-bottom: 200px;
  max-width: 400px;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

mat-card-title {
  font-family: 'Comic Sans MS', cursive;
  background-color: #fffde7;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  color: #343a40;
  display: flex;
  align-items: center;
  font-size: 2.3rem;
  font-weight: 700;
  justify-content: center;
  padding: 0.1rem 1rem;
  text-transform: uppercase;
  width: fit-content;
  margin: 1rem auto;

  animation: fillLetters 3s ease-in-out infinite
}

@keyframes fillLetters {
  0% {
    color: #f8f9fa;
    text-shadow: 0 0 10px #f8f9fa;
    border-radius: 50%;
  }
  50% {
    color: #343a40;
    text-shadow: 0 0 10px #343a40;
    border-radius: 50%;
  }
  100% {
    color: #f8f9fa;
    text-shadow: 0 0 10px #f8f9fa;
    border-radius: 50%;
  }
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
  border-radius: 5px;
  background: linear-gradient(to bottom right, #FFF5CB, #FFE599);
  color: #494646 !important;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.link {
  margin-left: 2px;
  margin-top: 15px;
}

a {
  color: #494646;
}

a:hover {
  cursor: pointer;
}

/* Estilos para telas menores que 600px */
@media (max-width: 600px) {
  .login-container {
    padding: 1rem;
  }

  mat-card {
    margin-bottom: 100px;
    max-width: 90%;
    padding: 1rem;
  }

  mat-card-title {
    font-size: 1.2rem;
  }

  button {
    margin-top: 1rem;
  }
}
