<div class="border-end bg-white" id="sidebar-wrapper">
  <div class="sidebar-heading border-bottom bg-light">VetSystem Tecnologia</div>
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action list-group-item-light p-3" (click)="navigateHome()" href="#">Home</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="{{AppRoutes.TUTORES}}">Tutores</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" (click)="logoff()" href="#">Sair</a>
  </div>
</div>
