<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary">Lista de tutores</mat-toolbar>

    <div class="column-flex mat-elevation-z8">
      <app-tutor-list *ngIf="tutors$ | async as tutors; else: loading_spinner"
                            [tutors]="tutors"
                            (add)="onAdd()"
                            (edit)="onEdit($event)"
                            (delete)="onDelete($event)"
      ></app-tutor-list>
      <ng-template #loading_spinner>
        <div class="loading-spinner">
          <mat-spinner></mat-spinner>
        </div>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>
